body{
    background-color:aliceblue;
    /* height:90%;
    width:60px; */
    /* /* border:1px solid blue; */
}
header{
    /* border:1px solid red; */
    display:flex;
    /* justify-content:space-around; */
    height:40px;
    align-items:center;
    flex-direction:row;
    gap:90px;
}
nav{
    /* border:1px solid black; */
}
img{
    height:60px;
    width:90px;

}
main{
    height:35px;
    width:40px;
}
.Or{
    color:orangered;
    font-size:30px;
    font-weight:90px;
}
.ff{
    color:green;
    font-size:13px;
    font-weight:40px;
}
p{
    color:black;
    height:60%;
    width:590px;
    border:1px solid black;
    font-size:14px;
    font-weight:25px;
    text-align:left;
}
button{
    background-color:green;
    color:white;
    font-size:12px;
    font-weight:200px;
    border:none;
}



